* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#canvas {
    /* position: fixed;
    border: 1px solid black;
    top: 10px;
    left: 10px;
    width: 1000px;
    height: 1000px; */
}
