@import './file2.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

canvas {
    // border: 5px solid black;
}


body {
    div {
        // color: red;
    }
}

canvas#small {
    width: 100%;
    height: calc(100vw - 100px);
    display: block;
    float: left;
}
canvas#big {
    display: none;
}

#text {
    text-align: justify;
}
